* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "PT Sans Caption", sans-serif;
  scrollbar-width: 1px;
}

@media (max-width: 1280px) and (min-width: 1024px) {

  #body {
    color: white;
    background: linear-gradient(#16222A, #3A6073);
    cursor: none;
  }
  #cursor {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px white;
    z-index: -1;
  }
  .arrow {
    height: 50px;
    width: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: sticky;
    top: 500px;
    left: 1200px;
    z-index: 10;
  }
  .arrow #scroll-btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: right;
    color: white;
  }
  #nav-div {
    display: flex;
    height: 90%;
  }
  .logo {
    height: 90px;
    overflow: hidden;
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 80px;
  }
  .logo img {
    height: 32px;
  }
  .nav-bar {
    height: 90px;
    width: 100%;
    padding: 0px 80px;
  }
  .nav-bar .nav-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 100%;
    list-style: none;
  }
  .nav-bar .nav-ul-li {
    height: 70%;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    opacity: 0.8;
    transition: all 0.2s;
    animation: fade-in-nav linear 0.3s;
  }
  .nav-bar .nav-ul-li a {
    color: white;
    text-decoration: none;
  }
  @keyframes fade-in-nav {
    0% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }
  .nav-bar .nav-ul-li:hover {
    border-bottom: 2px solid slategray;
    border-top: 2px solid slategray;
    opacity: 1;
    height: 40%;
  }
  .hero-sec {
    position: relative;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%;
    padding: 0px 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: fade-in-hero linear 0.5s;
  }
  @keyframes fade-in-hero {
    0% {
      position: relative;
      top: 20px;
      left: 0px;
      opacity: 0.5;
    }
    100% {
      position: relative;
      top: 0px;
      left: 0px;
      opacity: 1;
    }
  }
  .hero-sec .intro-part {
    width: 50%;
    height: 100%;
    padding: 0px 10px;
    padding-top: 120px;
  }
  .hero-sec .intro-part .bh-name {
    font-size: 48px;
    opacity: 0.8;
    padding: 10px 0px;
  }
  .hero-sec .intro-part .my-intro {
    line-height: 1.5;
    opacity: 0.8;
    font-size: 16px;
  }
  .hero-sec .img-sec {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .hero-sec .img-sec img {
    height: 65%;
    width: 90%;
  }
  .hero-sec .git-linked {
    height: 50px;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
  }
  .hero-sec .git-linked .fa-brands {
    padding-right: 15px;
    font-size: 25px;
    opacity: 0.8;
  }
  .hero-sec .git-linked .fa-brands:hover {
    opacity: 1;
    cursor: pointer;
  }
  .myservice-sec {
    height: 90vh;
    width: 100%;
    padding: 50px 80px 0px 80px;
  }
  .myservice-sec h1 {
    text-align: center;
    opacity: 0.8;
  }
  .myservice-sec .my-serve {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .myservice-sec .dy-part {
    width: 50%;
    height: 100%;
    padding-top: 130px;
  }
  .myservice-sec .dy-part .dy-head {
    font-size: 24px;
    opacity: 0.8;
  }
  .myservice-sec .dy-part .build-para {
    width: 90%;
    padding: 5px 0px;
    opacity: 0.8;
  }
  .myservice-sec .animate-dy {
    animation: left-right linear 0.8s;
  }
  @keyframes left-right {
    0% {
      position: relative;
      left: -200px;
      top: 0;
      opacity: 0;
    }
    100% {
      position: relative;
      left: 0px;
      top: 0;
      opacity: 1;
    }
  }
  .myservice-sec .tech-img {
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .myservice-sec .tech-img .lan-img {
    height: 90px;
    width: 90px;
    margin: 10px 20px;
  }
  .myservice-sec .tech-img .php {
    height: 60px;
  }
  .myservice-sec .tech-img .my-sql {
    height: 80px;
  }
  .myservice-sec .animate-tech {
    animation: right-left linear 0.8s;
  }
  @keyframes right-left {
    0% {
      position: relative;
      right: -200px;
      top: 0;
      opacity: 0;
    }
    100% {
      position: relative;
      right: 0px;
      top: 0;
      opacity: 1;
    }
  }
  .my-blog {
    height: 80vh;
    width: 100%;
    padding: 50px 80px;
  }
  .my-blog .blog-head {
    font-size: 32px;
    opacity: 0.8;
    text-align: center;
  }
  .my-blog .blog-div {
    display: flex;
    height: 80%;
    width: 100%;
  }
  .my-blog .visit-blog {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .my-blog .blog-para {
    font-weight: bold;
    padding: 10px 0px;
    opacity: 0.8;
  }
  .my-blog .blog-btn {
    height: 40px;
    width: 100px;
    font-weight: bold;
    border: none;
    background-color: #3A6073;
    border-radius: 5px;
    transition: all 0.4s;
    border-color: black;
    color: white;
  }
  .my-blog .blog-btn:hover {
    border: 2px solid white;
  }
  .my-blog .blog-img {
    width: 50%;
    height: 100%;
  }
  .my-blog .blog-img img {
    height: 100%;
    width: 80%;
  }
  .my-project {
    height: 90vh;
    width: 100%;
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .my-project .mypro-head {
    text-align: center;
    font-size: 32px;
    opacity: 0.8;
  }
  .my-project .pro-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
    padding: 30px 0px;
  }
  .my-project .calculator {
    width: 200px;
    height: 230px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px white;
  }
  .my-project .calculator:hover {
    box-shadow: 0px 0px 3px white;
  }
  .my-project .password {
    width: 200px;
    height: 230px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px white;
  }
  .my-project .password:hover {
    box-shadow: 0px 0px 3px white;
  }
  .my-project .jokes {
    width: 200px;
    height: 230px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px white;
  }
  .my-project .jokes:hover {
    box-shadow: 0px 0px 3px white;
  }
  .contact-me {
    height: 100vh;
    width: 100%;
    padding: 0px 80px 0px 80px;
    overflow: hidden;
  }
  .contact-me .contact-head {
    text-align: center;
    font-size: 32px;
    opacity: 0.8;
  }
  .contact-me .cont-sec {
    height: 100%;
    width: 100%;
    padding: 50px 0px 0px 0px;
    display: flex;
  }
  .contact-me .email {
    width: 45%;
    height: 100%;
    display: flex;
  }
  .contact-me .em-lu {
    list-style: none;
  }
  .contact-me .em-ul-li {
    height: 40px;
    font-size: 18px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    transition: all 0.3s;
  }
  .contact-me .em-ul-li:hover {
    border: 2px solid rgb(94, 90, 90);
    padding: 0px 5px;
    border-radius: 3px;
  }
  .contact-me .icon {
    font-size: 20px;
  }
  .contact-me .word {
    padding-left: 10px;
  }
  .contact-me .send-msg {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contact-me #form {
    padding: 10px 10px;
    border-radius: 5px;
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #3A6073;
    box-shadow: 0px 0px 2px #3A6073;
  }
  .contact-me .input-field {
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    opacity: 0.8;
  }
  .contact-me .name {
    padding: 5px 0px;
    margin: 5px 0px;
  }
  .contact-me input {
    height: 30px;
    width: 100%;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid rgb(130, 123, 123);
  }
  .contact-me .msg-box {
    height: auto;
    width: 100%;
    opacity: 0.8;
  }
  .contact-me textarea {
    height: 180px;
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
  }
  .contact-me #btn {
    height: 30px;
    width: 150px;
    background-color: rgba(36, 56, 69, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  .contact-me #btn:hover {
    cursor: pointer;
  }
  .contact-me .btn-sec {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  #footer {
    height: 150px;
    width: 100%;
  }
  #footer .thank {
    text-align: center;
    opacity: 0.8;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
  }
}/*# sourceMappingURL=style.css.map */